body {
	margin: 0;
}

.linkedin {
	height: 48px;
	width: 48px;
	float: right;
	margin-right: 5px;
	margin-top: 10px;
	background-image: url('../images/linkedin-grey.png');
}

.linkedin:hover {
	background-image: url('../images/linkedin.png');
}

.twitter {
	height: 48px;
	width: 48px;
	float: right;
	margin-right: 5px;
	margin-top: 10px;
	background-image: url('../images/twitter-grey.png');
}

.twitter:hover {
	background-image: url('../images/twitter.png');
}

.facebook {
	height: 48px;
	width: 48px;
	float: right;
	margin-right: 5px;
	margin-top: 10px;
	background-image: url('../images/facebook-grey.png');
}

.facebook:hover {
	background-image: url('../images/facebook.png');
}

.rss {
	height: 48px;
	width: 48px;
	float: right;
	margin-right: 9px;
	margin-top: 10px;
	background-image: url('../images/rss-grey.png');
}

.rss:hover {
	background-image: url('../images/rss.png');
}

#container {
	height: 900px;
	width: 1000px;
	position: relative;
}

#background1 img {
	position: absolute;
	left: -20px;
	top: 0px;
	width: 1080px;
	height: 392px;
	z-index: -1;
}

#background2 img {
	position: absolute;
	left: -20px;
	top: 392px;
	width: 1080px;
	height: 550px;
	z-index: -1;
	opacity: 0.2;
}

#nav {
	width: 1060px;
	float: left;
	background-color: black;
}
#nav ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	margin-left: 20px;
}
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 20px 5px;
	color: white;
	text-decoration: none;
	font: menu;
	text-indent: 50px;
}
#nav li a:hover {
	color: yellow;
}

#logo {
	height: 50px;
	width: 0px;
	margin-top: 9px;
	margin-left: 103px;
	position: relative;
	float: left;
}

/*#box1 {
	width: 865px;
	height: 50px;
	position: relative;
}*/

#box2 {
	width: 865px;
	height: 100px;
	border: solid 1px lightgray;
	margin-left: 115px;
}

#bottom-box {
	width: 865px;
	height: 250px;
	margin-left: 115px;
	margin-top: 20px;
	position: absolute;
}

#graybox {
	width: 1000px;
	height: 400px;
	background-color: lightgray;
	position: absolute;
}

#homebox1 {
	position: relative;
	width: 33.3%;
	height: 100%;
	float: left;
}

#homebox1 h2 {
	font: message-box;
	font-size: 24px;
}

#homebox2 {
	position: relative;
	width: 33.3%;
	height: 100%;
	float: left;
}

#homebox2 h2 {
	font: message-box;
	font-size: 24px;
}

#homebox3 {
	position: relative;
	width: 33.3%;
	height: 100%;
	float: right;
}

#homebox3 h2 {
	font: message-box;
	font-size: 24px;
}

#blogroll {
	position: relative;
	width: 33.3%;
	height: 100%;
	float: left;
}

#blogroll h4 {
	font: message-box;
	font-size: 14px;
	color: white;
	margin-left: 114px;
}

#blogroll li a {
	text-decoration: none;
	color: rgb(92, 92, 92);
	font: -webkit-mini-control;
	color: rgb(92, 92, 92);
	font-size: 10px;
	margin-left: 75px
}

#textwidget {
	position: relative;
	width: 33.3%;
	height: 100%;
	float: left;
}

#textwidget h4 {
	font: message-box;
	color: rgb(92, 92, 92);
	font-size: 14px;
	color: white;
}

#textwidget p {
	color: rgb(92, 92, 92);
}

#metawidget {
	position: relative;
	width: 200px;
	height: 100%;
	float: right;
	margin-right: -226px;
  	margin-top: -56px;
}

#metawidget h4 {
	font: message-box;
	font-size: 14px;
	color: white;
}

#metawidget ul {
	list-style-type: none
}

#meta {
	position: relative;
	margin-left: -39px;
	margin-top: 0px;
}

#metawidget li a {
	text-decoration: none;
	color: rgb(92, 92, 92);
	font: -webkit-mini-control;
	font-size: 10px;
	float: left;
	margin-right: 0px;
}

#float-right {
	float: right;
	margin-right: -30px;
	padding: 0px 10px;
}


#float-left {
	float: left;
	width: 600px;
	margin-left: 15px;
	margin-top: 10px;
}

#float-left p {
	font: -webkit-control;
	font-size: 14px;
}

#small-left {
	float: left;
	width: 85%;
	font-size: 8px;
	font: -webkit-mini-control;
}

#small-left a {
	text-decoration: none;
	  color: rgb(73, 164, 253);
}

#footer {
	width: 1060px;
	height: 200px;
	margin-bottom: 0;
	background-color: black;
	position: absolute;
}

#banner {
	max-height: 88%;
	max-width: 88%;
	margin-top: 10px;
	margin-left: 110px;
}

#photo {
	border: solid 5px lightgray;
	padding: 1px;
}

#shadow {
	max-height: 88%;
	max-width: 88%;
	margin-top: -5px;
	margin-left: 110px;
}

#quote {
	margin-top: 20px;
	margin-right: 40px;
}